
<h1>test3</h1>
<a href="http://www.kma.ac.kr" onmouseover="javascript:alert("hi")>http://www.afa.ac.kr</a>
<p>
<A HREF="jmouse.htm" onMouseover="window.status='Hi there!'; return true" 
onMouseout="window.status=' '; return true">Place your mouse here!</A>